<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
	<th:block th:replace="fragments/risorse :: risorse-head"></th:block>
	<title>Pizze</title>
</head>

<body>
	<nav th:replace="fragments/navbar :: navbar('pizza')"></nav>
	<div class="container">
		<!--messaggi di alert-->
		<th:block th:if="${successMessage != null && successMessage != ''}">
			<div class="alert alers-success" th:text="${successMessage}"></div>
		</th:block>

		<h1>Pizze</h1>
		<hr/>
		<!-- link che mi porta al controller che restituisce la form -->
		<a class="btn btn-primary" th:href="@{/salva}">Aggiungi una pizza</a>

		<table class="table" th:if="${pizze.size() > 0}">
			<thead>
				<tr>
					<th>Nome</th>
					<th>Prezzo</th>
					<th>Descrizione</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="p : ${pizze}">
					<td th:text="${p.nome}">Nome</td>
					<td th:text="${p.prezzo}">Prezzo</td>
					<td th:text="${p.descrizione}">Descrizione</td>

					<td>
						<a class="btn btn-primary mb-2" th:href="@{|/elimina/${p.id}|}" title="Elimina"
							onclick="return confirm('Sei Sicuro/a?')">
							<i class="fa-regular fa-trash-can"></i>
						</a>
						
						<a class="btn btn-primary" th:href="@{|/modifica/${p.id}|}" title="Modifica">
							<i class="fa-solid fa-pen-to-square"></i>
						</a>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
	<!-- se la lista di pizze è vuota -->
	<div class="alert alert-info my-5" th:unless="${pizze.size() > 0}">
		<h3>Non ci sono ancora pizze</h3>
	</div>
	<th:bock th:replace="fragments/risorse :: risorse-js"></th:bock>
</body>

</html>